
% =========== INPUTS ===============

% number of grains requested (may not necessarily get this many!)
num_grains=200;

% 0 if specified input coords for particle centers
gen_coords=0; 
% if gen_coords=0, need to specify path to file below which contains points
input_coords_file='./centers.txt';

% if gen_coords=1
use_model=0;

% if use_model=1, options for model are 1='pvt', 2='cvt',3='hal',4='cp',5='strauss' or 6='homog'

model=1;
% if model <= 3, options:
modeloptions_batch=1000;
modeloptions_it_max=20;

model4_lambda=10;
model4_var=0.1;

model5_c=1;
%model5_delta='';

% if gen_coords=1 yet use_model=0, you have 2 options to generate points: 1) f_noise; or 2) supplied image

gen_coords_f_noise=0;
% if the above is 1, need to specify an exponent:
f_exponent=5;

gen_coords_supplied_image=1;
supplied_image='fig41_c.jpg';
supplied_image_do_filter=1;
supplied_image_disksize=15;
supplied_image_gain=10;
supplied_image_cutoff=0.5;

% name of executable for using compiled program to gen coords (leave empty if using matlab)
use_compiled=0; 
compiled_file='./cvt_f/cvt'

% if use_compiled is not specified, we'll use matlab to generate points which means the path to this toolbox must be specified
path_to_cvt='./cvt_m';

% always required
path_to_mpt='./mpt';

grain_conc=0.7;

% if the below is 1, the model will modify the locations of particles so pore throats are non uniform
modify_throats=0;


% =========== OUTPUTS ===============
save_output_direc='./sandsim_outputs';
save_output_file='centers.txt';
save_particle_centers=1;
save_polytopes=1;
save_slicestats=1;

print_output_direc='./sandsim_outputs';
print_surface = 1;
out_image_format='eps';
res_dpi=1000;
print_3d=0;
print_3d_slice_composite=0;






