
num_grains=200;
gen_coords=1; 
use_model=1;
model=4;
model4_lambda=10;
model4_var=0.1;

use_compiled=0; 

path_to_cvt='./cvt_m';
path_to_mpt='./mpt';
grain_conc=0.7;
modify_throats=0;

save_output_direc='./sandsim_outputs';
save_output_file='centers.txt';
save_particle_centers=1;
save_polytopes=1;
save_slicestats=1;

print_output_direc='./sandsim_outputs';
print_surface = 1;
out_image_format='eps';
res_dpi=1000;
print_3d=0;
print_3d_slice_composite=1;
