

num_grains=200;
gen_coords=1; 
use_model=0;
gen_coords_f_noise=0;

path_to_cvt='./cvt_m';
path_to_mpt='./mpt';
grain_conc=0.5;
modify_throats=1;

gen_coords_supplied_image=1;
supplied_image='fig41_c.jpg';
supplied_image_do_filter=1;
supplied_image_disksize=15;
supplied_image_gain=10;
supplied_image_cutoff=0.5;


save_output_direc='./sandsim_outputs';
save_output_file='centers.txt';
save_particle_centers=1;
save_polytopes=1;
save_slicestats=1;

print_output_direc='./sandsim_outputs';
out_image_format='eps';
res_dpi=1000;
print_surface = 1;
print_3d=1;
print_3d_slice_composite=0;
