
gen_coords=0; 
input_coords_file='./centers.txt';
path_to_cvt='./cvt_m';
path_to_mpt='./mpt';
grain_conc=0.7;
modify_throats=0;

save_output_direc='./sandsim_outputs';
save_particle_centers=0;
save_polytopes=1;
save_slicestats=1;

print_output_direc='./sandsim_outputs';
out_image_format='eps';
res_dpi=1000;
print_surface = 0;
print_3d=1;
print_3d_slice_composite=0;
